services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  # Auto-register all services by namespace
  Tourze\Symfony\CircuitBreaker\Command\:
    resource: '../../Command/'
    public: true

  Tourze\Symfony\CircuitBreaker\Service\:
    resource: '../../Service/'

  # Storage services
  Tourze\Symfony\CircuitBreaker\Storage\MemoryStorage:
    public: true

  Tourze\Symfony\CircuitBreaker\Strategy\:
    resource: '../../Strategy/'

  Tourze\Symfony\CircuitBreaker\EventSubscriber\:
    resource: '../../EventSubscriber/'
    public: true

  # 接口默认实现
  Tourze\Symfony\CircuitBreaker\Storage\CircuitBreakerStorageInterface:
    class: Tourze\Symfony\CircuitBreaker\Storage\MemoryStorage

  Tourze\Symfony\CircuitBreaker\Strategy\CircuitBreakerStrategyInterface:
    class: Tourze\Symfony\CircuitBreaker\Strategy\ConsecutiveFailureStrategy